.applicationForm{
  justify-content: center;
}

.paper-override{
    border-radius: 14px !important;
    border: 1pt #c8c8c8 solid !important;
    box-shadow: none !important;
 }


.application-form {
  .form-row {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    &--padded {
      padding: 2rem 0;
    }

    @media (min-width: 550px) {
      flex-direction: row;
    }

    &__item {
      padding: 0 2rem;
    }
  }
}
