//summary styles
.summary-form{
  .form-row {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-top: 1px solid #F0F1F2;
    padding-top: 1rem;
    padding-bottom: 1rem;

    &--padded {
      padding: 2rem 0;
    }

    @media (min-width: 550px) {
      flex-direction: row;
    }

    &__item {
      flex: 1;
      max-width: 200px;
      padding: 0 2rem;
    }

    .bold{
      font-weight: 500;
    }
   }
}
