html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
  margin: 0px;
  color: #223A50;
  background-color: #F0F1F2;
}

.bg {
  width: 100%;
  z-index: 0;
}

.button {
  margin: 15px;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.text-vcenter {
  color: #fff;
  text-align: center;
}

.text-vcenter h1 {
    font-size: 4.5em;
    font-weight: 700;
    padding: 0;
}
.text-vcenter h3 {
    text-shadow: none;
}
